<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zz.jdbc.guide.mybatis.xml.mapper.UserMapper">
    <!--count()-->
    <select id="getTotalCount" resultType="java.lang.Long">
        select count(*) from <include refid="tableName" />
    </select>

    <!--group by-->
    <resultMap id="groupByResultMap" type="java.util.Map">
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="count(*)" property="count" jdbcType="BIGINT"/>
    </resultMap>

    <select id="getGroupByList" resultMap="groupByResultMap">
        select password, count(*) from <include refid="tableName" /> group by password
    </select>

    <!--ORDER BY FIELD()-->
    <select id="getListByFieldOrder" resultMap="userResultMap">
        <include refid="selectUserBase" /> ORDER BY FIELD(password, '1234567', '12345678', '123456'), id DESC;
    </select>
</mapper>
