<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zz.jdbc.guide.mybatis.xml.mapper.UserMapper">
    <!--分页查询, Mybatis-PageHelper 插件方式，开源项目-->
    <select id="getPageListByPageHelper" resultMap="userResultMap">
        <include refid="selectUserBase" />
    </select>
</mapper>
