<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zz.jdbc.guide.mybatis.xml.mapper.OrderMapper">
    <!--单条插入-->
    <insert id="insert" parameterType="Order" useGeneratedKeys="true" keyProperty="id">
        insert into
        <include refid="tableName" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sn != null">sn,</if>
            <if test="userId != null">user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sn != null">#{sn},</if>
            <if test="userId != null">#{userId},</if>
        </trim>
    </insert>

    <!--批量插入, 列数得统一，默认值在参数构造的时候就设置好-->
    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
        insert into
        <include refid="tableName" />
        (sn, user_id) values
        <foreach item="item" collection="list" separator=",">
            (#{item.sn}, #{item.userId})
        </foreach>
    </insert>
</mapper>
