<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <settings>
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="aggressiveLazyLoading" value="false" />
    </settings>

    <typeAliases>
        <package name="org.zz.jdbc.guide.common.entity"/>
    </typeAliases>

    <!--可配置多个环境，通过default切换-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driverClassName}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${user}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/user/UserMapper.xml"/>
        <mapper resource="mapper/user/UserInsertMapper.xml"/>
        <mapper resource="mapper/user/UserDeleteMapper.xml"/>
        <mapper resource="mapper/user/UserUpdateMapper.xml"/>
        <mapper resource="mapper/user/UserQueryMapper.xml"/>
    </mappers>
</configuration>